<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.dis.user.persistence.SeckillUserMapper">
    <insert id="insertUser" parameterType="com.dong.dis.user.domain.SeckillUser" useGeneratedKeys="true">
        INSERT INTO seckill_user (phone, nickname, password, salt, head, register_date, last_login_date, login_count)
        VALUES (#{phone}, #{nickname}, #{password}, #{salt}, #{head}, #{registerDate}, #{lastLoginDate}, #{loginCount})
        <selectKey keyColumn="UUID" keyProperty="uuid" resultType="java.lang.Long">
            SELECT last_insert_id()
        </selectKey>
    </insert>
</mapper>